# Be paranoid and ignore everything with an extension.
*.*

# Allow everything that should be allowed through through.
!.git*
!*.py
!README.md
!requirements.txt
!*.sh
!*.ipynb
!*.rst
!/doc/*
!/doc/_build/*
